body {
    font-family: 'Open Sans', sans-serif;
    color: #05010F;
    background: #bac7a6;
}

.center-me {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
}

.nav-icon {
    max-height: 45px;
}

#sosa-nav {
    padding: .15rem 1rem;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3.5em;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: #05010F;
}

h1>a {
    color: #05010F;
}

h1>a:hover, .sign-up-offer>a:hover {
    text-decoration: none;
    transition-duration: .3s;
    color: #8A010F;
}


.sign-in-box {
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin: 1em;
    padding: 1em;
}

.about-us {
    /* line-height: 1.5;
    font-size: 1.5em; */
    /* text-align: center; */
    padding-top: 3%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #05010F;
}

.fakelink {
    color: #337ab7;
    cursor: pointer
}

.fakelink:hover{
    text-decoration: none;
    transition-duration: .3s;
    color: #8A010F;
}

.sign-up-offer {
    padding-top: 5px;
    display: block;
}

.hidden {
  display: none;
}
